<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ExamenIIConexion"
			 connectionString="Data Source=DESKTOP-380CGL0\SQLEXPRESS; Initial Catalog=ExamenII_AndreaLozano; Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>